/* Internal CSS */
* {
    box-sizing: border-box;
    margin: 0;
}

body
{
    font-family: Arial, sans-serif;
}

.navbar {
    position: sticky; /* sticky navbar */
    top: 0;
    background-color: #069106; /* navbar background color */
    padding: 15px 20px;
    display: flex;
    justify-content: space-between; /* logo left, menu right */
    align-items: center;
    border-bottom: 2px solid #ffffff; /* optional border */
}

.navbar .menu {
    display: flex;
    padding: 0px 20px;
}

.navbar .menu div {
    margin-left: 20px; /* spacing between menu items */
    color: #ffffff; /* menu text color white for contrast */
    font-weight: bold;
    cursor: pointer;
    
}

.navbar .menu div:hover {
    color: #a8d5a2; /* hover effect */
}

.logo {
    padding: 0px 20px;
    width: 90px; /* adjust logo size */
    border-radius: 100%;
}
#headingHome{
    width: 350px;
    line-height: 50px;
    margin-bottom: 10px;
    font-size: 40px;
}
#paraHome{
    line-height: 30px;
    width: 350px;
}
.buttonHome{
    border-radius: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    color: white;
    background-color: #069106;
    border: none;
    cursor: pointer;
}
.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
